@import './base.css';
body {
	background-color: #1d1d25;
	color: white;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	margin-top: 100px;
	margin-bottom: 70px;

	font-weight: normal;
}

a,
.green {
	text-decoration: none;
	color: #1f1f1f;
	transition: 0.4s;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
	h1 {
		font-size: 24px;
	}
	.table-container {
		width: 100%;
		overflow-x: auto;
	}

	table {
		width: 100%;
	}

	th,
	td {
		padding: 8px;
		font-size: 14px;
	}
}
